* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

.container {
    position: relative;
    height: 100vh;
    width: auto;
    font-size: 2em;
}

h1 {
    font-size: 0.8em;
}

h2 {
    font-size: 0.8em;
}

p {
    font-size: 0.5em;
}

#picture {

        width: 100%;
        min-height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

}



input[type="submit"],
button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border: none;
}

.header {
    position: fixed;
    height: 100px;
    width: 100vw;
    background: black;
    z-index: 999999999;
}





.heading-text {
    position: relative;
    color: white;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    cursor: pointer;
}


.menu-button {
    position: absolute;
    width: 10%;
    max-width: 60px;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    z-index: 2;
    padding: 5px;
    height: 40px;
    display: block;
    background-color: transparent;
}

.menu-button:focus {
    outline: none;
}

.menu-button .line {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background-color: white;
    transition: ease 0.3s;
}

.menu-button .line:before,  
.menu-button .line:after {
    position: absolute;
    display: block;
    background-color: white;
    content: '';
    width: 100%;
    height: 5px;
    transition: ease 0.5s;
}

.menu-button .line:before {
    top: -10px;
} 

.menu-button .line:after {
    top: 10px;
} 

.burger .line {
    background-color: black;
}

.burger .line:before {
    opacity: 1;
    top: 50%;
    transform: rotate(-45deg);
}

.burger .line:after {
    opacity: 1;
    top: 50%;
    transform: rotate(45deg);
}

.dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    background: black;
    opacity: 0.9;
    transition: ease 0.4s;
    z-index: 2;
    text-align: center;
    top: -100vh;
    list-style-type: none;
    cursor: pointer;

}

.dropdown a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
  }

.dropdown li {
    transition: ease 0.4s;
    opacity: 1;
    color: white;
    padding: 100px 0;

}

#welcomeTextContainer {
    position: absolute;
    width: 90%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: blue; */
}

.welcomeText {
    width: 100%;
    text-align: center;
    padding: 10%;
}

.imgGridContainer {
    position: relative;
    width: 33.3%;
    height: 100px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.imgGridContainer img {
    max-width: 100%;
    object-fit: fill;
}



.active {
    /* top: 0; */
    top: 100px;
}

.active li {
    opacity: 0;
    animation: li-delay 1s forwards;
}

.dropdown li:hover {
    color: white;
}

.dropdown li:first-child { 
    background-color: rgb(175, 170, 170);
    animation-delay: 0.1s;
  }

.dropdown li:nth-child(2){ 
    background-color: rgb(134, 131, 131);
    animation-delay: 0.3s;

  }

.dropdown li:nth-child(3){ 
    background-color: rgb(161, 152, 152);
   animation-delay: 0.4s;

  }

  @keyframes li-delay {
    from {opacity: 0;}
    to {opacity: 1;}
  }



.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100px;
    width: 100vw;
    background: black;
    color: white;
    z-index: 9999;
}

.footer-text {
    position: relative;
    display: flex;
    font-size: 0.5em;
    width: auto;
    padding-top: 8%;
    padding-left: 10%;
}

.recipeContent {
    display: none;
}


.showRecipe{
    display: block;
    position: relative;
    padding-top: 100px;
    /* height: calc(100vh - 100px); */
    margin: 0;
    text-align: center;
}
.showIndex {
    display: block;
}
#foodIndex {
    position: relative;
    padding-top: 100px;
    height: calc(100vh - 100px);
    margin: 0;
    text-align: center;
    cursor: pointer;

}

.hideIndex {
    display: none;
}


.content-heading{
    padding: 10%;
}

.content-text{
    padding: 5%;
}

.social-icons {
    position: relative;
    color: white;
    width: auto;
    height: 50%;
    margin: 5%;
}


#recipe li{
list-style-type: disc; 
list-style-position: inside;
background-color: rgb(134, 131, 131);
}

#method li{
    list-style-position: inside;
    }

#indexMenuLi {
    display: none;
}

.active #indexMenuLi  {
    display: block;
}

    .imgGridContainerText {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        color: white;
        padding: 10px;
        height: 45%;

  }

  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }

@media only screen and (min-width: 600px) {

    .container {
        position: relative;
        height: 100vh;
        width: auto;
        font-size: 2em;
    }





    .imgGridContainer {
        position: relative;
        height: 300px;
        transition: transform .2s; /* Animation */

    }

    .imgGridContainer:hover {
        transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }

    .imgGridContainerText {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        color: white;
        padding: 20px;
        height: 30%;
        font-size: 2em;

  }

    .welcomeText {
        padding: 1%;
    }

    .zoom {
        transition: transform .2s; /* Animation */
      }

      #recipeContent {
        display: flex;
        flex-flow: row wrap;
    }  

    #picture {
        width: 50%;
        min-height: 50vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #recipeText {
        width: 50%;
    }

    #method {
    }

    #food {
        padding: 1%;
        width: 100%;
    }

}
